* {
    box-sizing: border-box;
}

.grd {
    display: flex;
    
}

.item {
    width: 33%;
}
img {
    width: 90%;
    height: 300px;
    margin-left: 2%;
}

.h2_2 {
    text-align: center;
    margin: 15px auto;
    
}
.item p {
    margin-left: 10px;
    margin-right: 10px;
}


 @media (max-width: 700px) {
     .grd {
         flex-wrap: wrap;
     }
    .item {
        width: 90%;
        margin-left: auto;
    }
}

