#introBanner {
    display: flex;
    width: 100%;
    background-color: yellow;
    flex-direction: column;
}

h1 {
  font-family: 'Jua', sans-serif;
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

h2 {
  font-family: 'Jua', sans-serif;
  font-size: 36px;
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}
